<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>CRUD Básico</title>
    </head>

    <body>

        <h1>Cadastro de Produtos</h1>
                            <div class="nav-wrapper">
                         
                              
                                <li><a href="/index">Index</a></li>
                              
                            
                            <br>
                            <br>

                            <div th:each="alimento : ${alimento}" class="container">            
                                    <div class="row">
                                        <p>Código: <span th:text="${alimento.codigo}"></span></p>
                                        <p>Nome: <span th:text="${alimento.nome}"></span></p>
                                        <p>Peso: <span th:text="${alimento.peso}"></span></p>
                                        <p>Marca: <span th:text="${alimento.marca}"></span></p>
                                    </div>
                                
                                </table>

       <div th:each="alimento : ${alimento}" class="container">
        <form class="container" method="post">

                Nome do Alimento: <input type="text" th:text="${alimento.nome}" value="" name="nome">
                <div class="row">
                        <div class="input-field col s6">
                Peso do Alimento: <input type="text" th:text="${alimento.peso}" value="" name="peso">
            </div>
            <div class="input-field col s3">
                Calorias do Alimento: <input type="text" value="" name="calorias">
            </div>
            <div class="input-field col s3">
                Marca do Alimento:<input type="text" value="" name="marca">
            </div>
        </div>
        <br>
            <button type="submit" class="waves-effect waves-light btn">Salvar</button>
        </form>


            <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>


</html>